{% extends 'base.html' %}
{% block title %} {{ content.title }} {% endblock %}

{% block content %}
    {% csrf_token %}

    {% for message in content.messages %}
        <div style="display: block ">
            {#            {{ message.id }}#}
            {% if message.sender_id == content.user.id %}

                我：

            {% else %}
                {{ message.receiver_id }} ：

            {% endif %}


            {{ message.content }}

            {% if message.sender_id == content.user.id %}

                <button class="delete-message btn  btn-outline-secondary btn-sm" data-message-id="{{ message.id }}">删除
                </button>
            {% endif %}


        </div>

    {% endfor %}

    <div class="well span3 offset4">
        <form class="form-horizontal" name="sendMessage" method="post" action="/send_message/">
            {% csrf_token %}

            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>

                            <input type="hidden" name="receiver_id" value="{{ content.contact_id }}">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            {{ content.form.content }}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">发送</button>
                    </div>
                    <div>

                    </div>
                </div>

            </fieldset>
        </form>
        <a class="btn btn-outline-primary" role="button"
           href="/contact/">返回
        </a>



        {% if content.form.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>
                    {% for form in content.form %}
                        {{ form.errors }}
                    {% endfor %}
                </strong>
            </div>
        {% endif %}
    </div>
    {% load static %}
    <script src="{% static "/js/message.js" %}"></script>

{% endblock %}